{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1>PAGE DE MON ARTICLE</h1>
    <h3>{{ game.name }}</h3>

    <p>{{ game.support }} / {{ game.price }}€</p>
    <p>{{ game.type }}</p>
</div>
{% endblock body %}

